*{
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
   color: aliceblue;
   font-size: 20px;
   
}

body{
    background-image: url("./timtim.avif");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(175, 144, 144);
    background-repeat: no-repeat;
    background-position-y:80%;
    height:auto;
    background-blend-mode: color;
    background-blend-mode: darken; 
    

}

h1{
    font-size: 100px;
}



.divInline {
    display: block;
}




h6{
    display: inline;
    height: 200px;
}


.letraCss {
    font-size: 150px;
    font-style: italic ;
}



.titulos{
    font-size: 50px; 


}

h4 {

     text-align: left;
}

.Tamaño {
    width: 500px;
    height: 325px;
    font-size: 200px;
}

.Contenedor{
    text-align: center;
}


h2{
    font-family:Verdana;
    height: auto;
    color: azure;
    font-size: 50px;
}
  
#Foto {
    border-image: 100px;
    width: 500px;
    height: 500px;
    left: 100PX;
}

a{
    color: rgb(162, 95, 95);
}


#Subtitulo{   
    
    
    color:rgba(213, 227, 237, 0.482);
    width: 200px;
    height: 200PX;
    font-size: 35PX;
    text-align:left;
    display: inline;


}
    
 
    